@media (max-width: 660px) {
  #hamb {
    display: block;
  }

  #items-menu {
    width: 75%;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #616469;
    box-shadow: -2px 0 3px rgba(0, 0, 0, .4),
                inset -3px 0 5px rgba(255, 255, 255, .4);
    transition: .5s;
    z-index: 2;
  }
  
  .close {
    right: -100%;    
  }
  
  .open {
    right: 0;
  }

  #fechar {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 3em;
    text-shadow: 0 0 3px rgba(255, 255, 255, .5);
  }

  #fechar:hover {
    cursor: pointer
  }

  #menu {
    width: 100%;
    display: block;
  }

  #menu li {
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #222;
  }

  #menu li:last-child {
    border-bottom: 1px solid #222;
  }

  #menu li a {
    color: white;
  }

  #header-base {
    justify-content: center;
  }

  #form {
    right: initial;
    box-shadow: 0 0 0 ;
  }

  /* secao */
  .secao {
    flex-wrap: wrap;
  }
}

@media (max-width: 445px) {
  #form {
    top: 50px;
    height: 100%;
    width: 100vw;
  }
}
